<div class="row">
    <div class="col-md-12 fullscreen height-100">
        {{ sonata_page_render_container('content') }}
        <video src="/img/big_buck_bunny.mp4" preload="auto">

        </video>
    </div>
</div>