<div class="row">
    <div class="col-md-12 height-50">
        {{ sonata_page_render_container('header') }}
    </div>
    <div class="col-md-6 height-50">
        {{ sonata_page_render_container('left_col') }}
    </div>
    <div class="col-md-6 height-50">
        {{ sonata_page_render_container('right_col') }}
    </div>
</div>