<div class="row">
    <div class="col-md-12">
        {{ sonata_page_render_container('header') }}
    </div>
    <div class="col-md-12">
        {{ sonata_page_render_container('content') }}
    </div>
    <div class="col-md-12">
        {{ sonata_page_render_container('footer') }}
    </div>
</div>